img{
    width: 600px;
    height: 400px;
    border: 2px solid #ff3d0046;
    border-radius: 13px;
    box-shadow: 4px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
h1{
    text-align: center; 
   color: #00ffeb; 
}
h2{
    text-align: center;
    color: #31dd50;
}
h3{
    color: color-mix(in hsl shorter hue, color percentage, color percentage);
}
body{
    background-color: #fdffe8;
    color: #263238;
}

p{
    color: #5e503f;
}
  

ol>li{
    color: black;
}

ul>li{
    color: black;
}

a:hover{
    color: yellow;
}

.links{
    text-align: center;
    color: #ffffff;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div img{
    width: 400px;
    height: 300px;
    border: 2px solid #ff3d0046;
    border-radius: 13px;
    box-shadow: 4px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
div img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}

footer{
    text-align: center;
    background-color: #e1ea7e;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.contact-details{
font-size: 0.9rem;
color: #555;
}